@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
.mike {
    background: url('../images/icons/hand-mike.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
.search {
    background: url('../images/icons/search.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
.calender {
    background: url('../images/icons/calender.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
.bolt {
    background: url('../images/icons/bolt.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
.chart {
    background: url('../images/icons/chart.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
.user {
    background: url('../images/icons/Vectoruser.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
.hamburger {
    background: url('../images/icons/hamburger.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
.question {
    background: url('../images/icons/question.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-top: 10px;
}
*{
    font-family: 'Poppins';
}
html{
    background-color: #F5F7F9;
}
.sideNavbar{
    background-color: #133159;
    width: 89px;
    transition: .6s;
    font-family: Poppins;
    float: left;
}
.sidenav{
    background-color: transparent;
    position: unset;
    padding: 0;
    width: 100%;
    box-shadow: none;
    border:none;
}
.expanded{
    width: 235px;
    transition: .6s;
}
#sideNavbar.expanded img{
    margin: 10px 10px 0 40px;
}
#sideNavbar img{
    margin: 10px 25px 0 25px;
}
#sideNavbar .logoTxt{
    font-size: 26px;
    color: #ffffff;
}
.sidenav li a{
    padding: 0 13px;
    margin: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    font-weight: 300;
}
.expanded li a{
    padding: 0 15px;
    margin: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    font-weight: 300;
}
.sidenav li>a>i,.sidenav li>a>i.material-icons{
    color: #ffffff !important;
    margin: 0 10px 0 0;
    overflow: hidden;
}
.sidenav.sidenav-fixed{
    position: unset;
}

.sidenav li.active{
    background-color:transparent !important;
}
.sidenav li.active a{
    background-color:#3c7ef3 !important;
    box-shadow: 0px 30px 12px -20px rgba(15, 36, 64, 0.5);
    
}
.sideNavbar .nav-link{
    display: inline-block;
    overflow: hidden;
    transition: 1s;
}
.sideNavbar span{
    display: none;
    overflow: hidden;
}
.sideNavbar >ul li:last-child.active a{
    background-color:transparent !important;
}
#burgerMenu{
    padding-top: 20px;
}

.main{
    width: calc(100% - 89px);
    float: left;
    transition: .6s;
}
.smaller{
    width: calc(100% - 235px);
    float: left;
    transition: .6s;
}
.topNav{
    background: #133159;
    padding: 10px 0 13px 0;
}
.row{
    margin-bottom: 0;
}
.searchBox{
    position: relative;
}
.main .searchBox .material-icons{
    position: absolute;
    right:0;
    z-index: 99;
    top: 7px;
}
#icon_prefix{
    position: absolute;
    background: #E5E8EF;
    box-shadow: inset -4px 0px 2px #FFFFFF, inset 4px 4px 2px rgba(8, 20, 36, 0.1) !important;
    border-radius: 10px;
    border-bottom: none;
}
input[type=text]:not(.browser-default){
    height: 2.3rem;
    padding-left: 20px;
    width: 95%;
}
input::placeholder{
    color: #546376;
    font-size: 14px;
}
.topNavbarIcons{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.topNavbarIcons a{
    color: #ffffff;
    position: relative;
}

.topNavbarIcons .material-icons{
    height: 34px;
    width: 34px;
    padding: 8px;
    font-size: 18px;
    border-radius: 50%;
    margin-left: 6px;
}
.topNavbarIcons .callIcon .material-icons{
    background-color: #68ebca;
}
.topNavbarIcons .addIcon .material-icons{
    background-color: #3c7ef3;
}
.topNavbarIcons .notificationIcon .material-icons{
    background-color: #3c7ef3;
    position: relative;
}
.topNavbarIcons .whatIcon .material-icons{
    background-color: #3c7ef3;
    color: #ffffff;
    height: 34px;
    width: 34px;
    padding: 8px;
    font-size: 18px;
    border-radius: 50%;
}
.counter{
    background-color: #ff2264;
    color: #ffffff;
    height: 11px;
    width: 11px;
    font-size: 6px;
    position: absolute;
    top: 9px;
    left: 22px;
    z-index: 88;
    border: 1px solid white;
    border-radius: 50%;
    padding: 1px 1px 1px 2px;
}
i.right {
    float: right;
    margin-left: 0;
}
.dropdownBar{
    position: relative;
}
.aaa{
    position: absolute;
    display: block;
    width: 100%;
    left:10px;
    top:47px;
    height: 151px;
    transform-origin: 0px 0px;
    opacity: 1;
    transform: scaleX(1) scaleY(1);
    z-index: 11;
}
.adminInfo{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    align-items: center;
    color: #ffffff;
}
.adminInfo .adminName{
    font-size: 14px;
}
.flexItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dealSection{
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
}
.fsIcons span{
    background-color: #F6F7FB;
    padding: 10px 12px;
    margin: 1px;
}
.fsIcons span:first-child{
    border-radius: 5px 0 0 5px;
}
.fsIcons span:last-child{
    border-radius:0 5px 5px 0;
}
.fsIcons .active{
    background-color: #133159;
    color: #ffffff;
}
.btn{
    background-color: #3c7ef3;
    box-shadow: none;
    margin-right: 15px;
    padding: 0 4px;
    font-size: 14px;
    border-radius: 5px;
    text-transform: capitalize;
}
.button-with-icon .material-icons{
    height: 25px;
    width: 25px;
    padding: 6px;
    font-size: 13px;
    border-radius: 50%;
    margin-left: 6px;
    background: white;
    color: #3c7ef3;
}
.btnName{
    font-size: 10px;
    padding: 0 5px 0 8px;
}