@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
.mike {
    background: url('../images/icons/hand-mike.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
.search {
    background: url('../images/icons/search.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
.calender {
    background: url('../images/icons/calender.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
.bolt {
    background: url('../images/icons/bolt.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
.chart {
    background: url('../images/icons/chart.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
.user {
    background: url('../images/icons/Vectoruser.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
.hamburger {
    background: url('../images/icons/hamburger.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
.sideNavbar{
    background-color: #133159;
    width: 89px;
    transition: .6s;
    font-family: Poppins;
}
.sidenav{
    background-color: transparent;
    position: unset;
    padding: 0;
    width: 100%;
    box-shadow: none;
    border:none;
    /* width: 258px; */
}
.expanded{
    width: 235px;
    transition: .6s;
}
#sideNavbar.expanded img{
    margin: 10px 10px 0 40px;
}
#sideNavbar img{
    margin: 10px 25px 0 25px;
}
#sideNavbar .logoTxt{
    font-size: 26px;
    color: #ffffff;
}
.sidenav li a{
    padding: 0 13px;
    margin: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    font-weight: 300;
}
.expanded li a{
    padding: 0 15px;
    margin: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    font-weight: 300;
}
.sidenav li>a>i,.sidenav li>a>i.material-icons{
    color: #ffffff !important;
    margin: 0 10px 0 0;
    overflow: hidden;
}
.sidenav.sidenav-fixed{
    position: unset;
}

.sidenav li.active{
    background-color:transparent !important;
}
.sidenav li.active a{
    background-color:#3c7ef3 !important;
    box-shadow: 0px 30px 12px -20px rgba(15, 36, 64, 0.5);
    
}
.sideNavbar .nav-link{
    display: inline-block;
    overflow: hidden;
    transition: 1s;
}
.sideNavbar span{
    display: none;
    overflow: hidden;
}
.sideNavbar >ul li:last-child.active a{
    background-color:transparent !important;
}
#burgerMenu{
    padding-top: 20px;
}